<div class="modal-header">
    <h2>
        {{ "LCZ_FORGOT_PASSWORD.TITLE" | translate }}
    </h2>
</div>

<div class="modal-body">
    <form [formGroup]="forgotPasswordForm">
        <div class="container">
            <!-- Username text field -->
            <div class="row mb-4">
                <div class="col-12 text-center mb-3 hd-gray-text">
                        {{ "LCZ_FORGOT_PASSWORD.ENTER_YOUR_EMAIL" | translate }}
                </div>

                <div class="col-12">
                    <input type="text" class="form-control" formControlName="email" [placeholder]="'LCZ_FORGOT_PASSWORD.EMAIL_PLACEHOLDER' | translate">
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn-block btn-primary" type="submit">
                {{ "LCZ_FORGOT_PASSWORD.RESET_BTN" | translate}}
            </button>
        </div>
    </form>
</div>