
<div data-component="navbar">

  <nav class="navbar p-0 fixed-top">
        <!-- <button class="navbar-toggler navbar-toggler-left rounded-0 border-0" type="button" data-toggle="collapse" data-target="#megamenu-dropdown" aria-controls="megamenu-dropdown" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i><span class="ml-3">Advanced</span>
        </button> -->
    <div class="nav-heading"> 
      <h2 class="heading">Street Online CMS</h2>
    </div>
  
  </nav>

  </div> 
  


  <div data-component="sidebar">
    <div class="sidebar">
    <ul class="list-group flex-column d-inline-block first-menu">
      <li class="list-group-item pl-3 py-2">
        <a href="#"  [routerLink]="['/menu-landing']"><i class="fa fa-cutlery" aria-hidden="true"><span class="ml-2 align-middle">Dashboard</span></i></a> 
        <!-- <ul class="list-group flex-column d-inline-block submenu">
          <li class="list-group-item pl-4">
            <a href="#" [routerLink]="['/create-item']">Add new Item</a>
          </li>
          <li class="list-group-item pl-4">
            <a href="#" [routerLink]="['/manage-item']">Manage Items</a>
          </li> 
        </ul>  -->
      </li> 
      
      <li class="list-group-item pl-3 py-2">
        <a href="#"  [routerLink]="['/property-landing']"><i class="fa fa-building" aria-hidden="true"><span class="ml-2 align-middle">Projects</span></i></a>
      </li>


      
       <li class="list-group-item pl-3 py-2">
        <a href="#">
          <i class="fa fa-user-o" aria-hidden="true"><span class="ml-2 align-middle">Tasks</span></i>
        </a>
      </li>  


      <li class="list-group-item pl-3 py-2">
        <a href="#">
          <i class="fa fa-user-o" aria-hidden="true"><span class="ml-2 align-middle">Workd Packages</span></i>
        </a>
      </li>  


      <li class="list-group-item pl-3 py-2">
        <a href="#">
          <i class="fa fa-user-o" aria-hidden="true"><span class="ml-2 align-middle">Agile Boards</span></i>
        </a>
      </li>  
   </ul> 


  </div> 
  </div>
