<form class="user-form">
    <div class="container">
  
      <h5><b>Sign Up</b></h5>
      <div class="col-md-6">
        <hr>
         </div>


      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Full Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
          
        </div>
        </div>


      <div class="col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        
      </div>
      </div>
      

      
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="********">

        </div>
      </div>


       
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
      </div>
   
   
      <button type="submit" class="btn btn-success">Sign Up</button>

  </div>
  </form>
  