.hd-social-login-btn {
    height: 50px;
}
.hd-social-login-btn>div{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.hd-social-login-btn>div>img{
    height: 20px;
    padding-right: 10px;
}

.btn-google>div>img{
    margin-left: -21px;
    padding-right: 4px;
}
