 <form class="user-form">
  <div class="container">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="form-group col-md-3">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="name">Position</label>
      <select class="form-control">
        <option>Large select</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="name">Role</label>
      <select class="form-control">
        <option>Large select</option>
      </select>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="name">ID Card #</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="form-group col-md-3">
      <label for="name">Property</label>
      <select class="form-control">
        <option>Large select</option>
      </select>
    </div>
  </div>

  
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="name">Address 1</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="form-group col-md-3">
      <label for="name">Address 2</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
  </div>
  

  <button type="submit" class="btn btn-primary">Sign in</button>
</div>
</form>
