<div class="modal-header">
    <h2>
        {{ "LCZ_CHANGE_PASSWORD.TITLE" | translate }}
    </h2>
</div>

<div class="modal-body">
    <form [formGroup]="changePasswordForm">
        <div class="container">
            <!-- Username text field -->
            <div class="row mb-3">
                <div class="col-12 ">
                    <label class="form-control-label">
                        {{ "LCZ_CHANGE_PASSWORD.OLD_PASSWORD" | translate }}
                    </label>
                </div>

                <div class="col-12">
                    <input type="text" class="form-control" formControlName="old_password">
                </div>
            </div>

            <!-- Username text field -->
            <div class="row mb-2">
                <div class="col-12 ">
                    <label class="form-control-label">
                        {{ "LCZ_CHANGE_PASSWORD.NEW_PASSWORD" | translate }}
                    </label>
                </div>

                <div class="col-12">
                    <input type="text" class="form-control" formControlName="new_password">
                </div>
            </div>

            <!-- Username text field -->
            <div class="row mb-3">
                <div class="col-12 ">
                    <label class="form-control-label">
                        {{ "LCZ_CHANGE_PASSWORD.CONFIRM_PASSWORD" | translate }}
                    </label>
                </div>

                <div class="col-12">
                    <input type="text" class="form-control" formControlName="confirm_password">
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn-block btn-primary" type="submit">
                {{ "LCZ_CHANGE_PASSWORD.BTN_CHANGE_PASSWORD" | translate}}
            </button>
        </div>
    </form>
</div>