<form class="user-form">
    <div class="container">
 
      <h5><b>Login</b></h5> 
      <div class="col-md-6">
     <hr>
      </div>


      <div class="col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      </div>
      

      
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Password">

        </div>
      </div>
   
      <button type="submit" class="btn btn-success">Sign in</button>
  
      <p class="center">Don't have an account?</p><button type="submit" click="Gotopage()"  class="btn btn-primary" >Register now</button> 


  </div>
  </form>
  