<div class="hd-page-title">
    {{ "LCZ_FORGOT_PASSWORD_CHANGE.TITLE" | translate }}
</div>

<div class="modal-body">
    <form [formGroup]="forgotPasswordChangeForm">
        <div class="container">
            <!-- Username text field -->
            <div class="row mb-2">
                <div class="col-12 ">
                    <label class="form-control-label">
                        {{ "LCZ_FORGOT_PASSWORD_CHANGE.NEW_PASSWORD" | translate }}
                    </label>
                </div>

                <div class="col-12">
                    <input type="text" class="form-control" formControlName="new_password">
                </div>
            </div>

            <!-- Username text field -->
            <div class="row mb-2">
                <div class="col-12 ">
                    <label class="form-control-label">
                        {{ "LCZ_FORGOT_PASSWORD_CHANGE.CONFIRM_PASSWORD" | translate }}
                    </label>
                </div>

                <div class="col-12">
                    <input type="text" class="form-control" formControlName="confirm_password">
                </div>
            </div>


            <!-- Sign in button -->
            <button class="btn-block btn-primary" type="submit">
                {{ "LCZ_FORGOT_PASSWORD_CHANGE.BTN_CHANGE_PASSWORD" | translate}}
            </button>
        </div>
    </form>
</div>